/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:#E4E4E4;
    background-image:linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-ms-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #A7A7A7),
        color-stop(0.51, #E4E4E4)
    );
    background-attachment:fixed;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;
    height:100%;
    margin:0px;
    padding:0px;
    text-transform:uppercase;
    width:100%;
}

/* Portrait layout (default) */
.app {
    background:url(../img/logo.png) no-repeat center top; /* 170px x 200px */
    position:absolute;             /* position in the center of the screen */
    left:50%;
    top:50%;
    height:50px;                   /* text area height */
    width:225px;                   /* text area width */
    text-align:center;
    padding:180px 0px 0px 0px;     /* image height is 200px (bottom 20px are overlapped with text) */
    margin:-115px 0px 0px -112px;  /* offset vertical: half of image height and text area height */
                                   /* offset horizontal: half of text area width */
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        background-position:left center;
        padding:75px 0px 75px 170px;  /* padding-top + padding-bottom + text area = image height */
        margin:-90px 0px 0px -198px;  /* offset vertical: half of image height */
                                      /* offset horizontal: half of image width and text area width */
    }
}

h1 {
    font-size:24px;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
}

.event {
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size:12px;
    margin:0px 30px;
    padding:2px 0px;
}

.event.listening {
    background-color:#333333;
    display:block;
}

.event.received {
    background-color:#4B946A;
    display:none;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}



anspress .ap-list-head .ap-btn-ask {
    float: left;
    font-size: 13px;
    font-weight: bold;
    height: 36px;
    margin-left: 15px;
    padding: 6px 20px;
}

#anspress .ap-filter #ap-question-sorting-reset {
    color: #888;
    display: none;
    height: 36px;
    line-height: 38px;
    text-align: center;
    width: 36px;
}

#anspress .ap-filter {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 3px;
    float: left;
    margin-left: -15px;
}



#anspress .ap-btn {
    background-image: linear-gradient(#c70202, #c70202);
    border: 1px solid rgba(0,0,0,0.15);
    border-radius: 3px;
    color: #fff;
    font-weight: 600;
    line-height: 1.6;
    padding: 4px 10px;
    text-decoration: none;
    vertical-align: middle;
}


#anspress .ap-taxo-detail {
    background: none repeat scroll 0 0 #f8f8f8;
    -webkit-border-radius: 5px;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 5px;
    -moz-background-clip: padding;
    border-radius: 5px;
    background-clip: padding-box;
    margin-bottom: 25px;
    padding: 10px 10px;
}

#anspress .ap-taxo-detail .ap-subscribe-btn {
    margin-top: 4px;
    float: inherit;
}

.entry-content {
    text-align: inherit;
}

.entry-content img, img[class*="align"], img[class*="wp-image-"] {
    max-width: 100%;
    height: inherit;
}

#anspress .ap-taxo-detail .ap-category-icon {
    display: none;
    margin-right: 20px;
    margin-top: 5px;
}

#anspress .ap-btn.active {
	background: #d20202;}



#anspress .ap-subscribe-btn {
    margin-bottom: 8px;
    margin-top: 30px;
}



#answer-form-c {
    margin-right: 0px;
    margin-top: 20px;
    padding-top: 0;
    position: relative;
}


li#menu-item-1093 {
    margin-top: -61px;
    float: right;
	  margin-right: 10px;
    margin-left: 10px;
	  background: #00cc85
}
#anspress .ap-user-lr {
    margin-left: 0 !important;
}
.ap-user-navigation.clearfix {
    display: none;
}
ul #ap-userdp-menu img {
    border-radius: 100%;
    display: inline;
    height: auto;
    margin-right: 5px;
    vertical-align: -webkit-baseline-middle;
    width: 42px;
}
div#primary {
    margin-top: 14px;
}
div#secondary {
    margin-top: 14px;
    font-size: 17px;
}

body ul li.open ul#ap-user-menu-link {
    display: block;
    width: 100%;
}




.wp-editor-container textarea.wp-editor-area {
    width: 100%;
    margin: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    visibility: visible;
}
div#primary-sidebar {
    background: white;
    padding: 12px;
    margin-bottom: 20px;
    margin-top: 20px;
}
div#widger-full {
    display: block;
    background: white;
    width: 49%;
    margin-left: 5px;
    border: black;
    margin-bottom: 12px;
    padding: 8px;
    float: left;
}
div#dashboard-widget-full {
    display: block;
    width: 101%;
    margin-bottom: 0;
}

div#dashboard-widget-complete {
    display: inline-block;
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
}
div#widger-full-complete {
    background: white;
    display: inline-block;
    width: 100%;
    padding: 5px;
	  margin-top: 5px;
    margin-bottom: 10px;
}



#anspress .ap-category-item {
    border: 2px solid #eee;
    border-radius: 3px;
    padding: 7px;
    height: 260px;
}

#anspress .ap-q-cells {
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 3px;
    margin-left: 70px;
    padding: 10px;
    font-size: 16px;
}

#anspress .ap-a-cells {
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 3px;
    margin-left: 70px;
    padding: 10px;
    font-size: 16px;
}

.ap-content .ap-post-history {
    color: #888;
    display: inherit;
    font-size: 13px;
    margin-top: 10px;
}

#anspress .ap-q-metas {
    font-size: 13px;
    margin-bottom: 10px;
    border-bottom: 1px solid #eee;
    padding: 2px 0px 10px
}

.ap-widget-pos, .widget {
    margin-bottom: 0px;
}


#anspress .ap-question-meta .question-tags a, #anspress .ap-question-meta .question-categories a {
    color: #dc0000;
    border: 1px solid #06a5e4;
    border-radius: 3px;
    font-size: 20px;
    margin-right: 5px;
    padding: 3px 11px;
}



#anspress .ap-user-meta-reputation {
    color: #ff0808;
    font-size: 12px;
}



span.ap-questions-count.ap-questions-vcount {
    visibility: visible;
}

div#apf-text-lecture {
    font-size: 17px;
    display: grid;
}

#apf-text-lecture input#apftitle {
    margin-top: -15px;
    margin-bottom: -15px;
}

#apf-text-lecture b {
    background-color: darkgreen;
    color: white;
    padding: 5px 15px 5px 15px;
    font-size: 20px;
}


#apf-text b {
    background-color: darkgreen;
    color: white;
    padding: 5px 15px 5px 15px;
    font-size: 20px;
}

div#apf-text {
    display: grid;
    font-size: 17px;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 0px;
}

input#fep-post-title {
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 0px;
}

a#mbdb_add_book_grid_fep-post-content {
    display: none;
}
div#content {
    margin-top: 56px;
}
